name: Deploy Website

on:
  pull_request:
    types: [closed]
    paths:
      - "website/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1
      - name: Sync files
        run: aws s3 sync website s3://${{ secrets.S3_bucket_name }} --delete
